**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/node_modules
**/.angular
**/dist
**/bin
**/obj
**/*.*proj.user
**/npm-debug.log
**/coverage
**/.nyc_output
**/e2e
**/*.md
**/docker-compose*.yml
**/Dockerfile*
**/.env
**/.env.*
**/secrets.json